.date {
  font-family: "Quicksand";
  height: 100px;
  background-color: transparent;
  width: 100%;
  text-align: center;
}
.date__body {
  padding: 30px;
}
.date__information {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 26px;
  line-height: 19px;
  color: #000000;
}
